.env
!.env.example
__pycache__
_distutils_hack*
bin
certifi*
chardet*
defusedxml*
distutils*
dotenv*
idna*
importlib_metadata*
jira*
!jiraService.py
keyring*
oauthlib*
pkg_resources*
python_dotenv*
requests*
setuptools*
urllib3*
zipp*
.vscode
package/
*.zip
